/****************************/
/* HEADER */
/****************************/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c0cbf2;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo:link,
.logo:visited {
  text-decoration: none;
  font-size: 2.4rem;
  color: #5061f9;
}

/****************************/
/* NAVEGATION */
/****************************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #5061f9;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #434fd1;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #5061f9;
}
/****************************/
/* SECTION HERO*/
/****************************/
.section-hero {
  background-color: #c0cbf2;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img-box {
  display: flex;
  justify-content: center;
}

.hero-img {
  width: 60%;
  height: 57rem;
}

.customers-buyers {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.customers-img {
  display: flex;
}

.customers-img img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #c0cbf2;
}

.customers-img img:last-child {
  margin: 0;
}

.customers-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.customers-text span {
  color: #434fd1;
  font-weight: 700;
}

/****************************/
/* How it works */
/****************************/
.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 65%;
  padding-bottom: 65%;
  background-color: #c0cbf2;
  z-index: -2;
}

.step-img-box::after {
  width: 50%;
  padding-bottom: 50%;
  background-color: #adb7da;
  z-index: -1;
}

.step-img {
  width: 40%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

/****************************/
/* About us */
/****************************/
.section-us {
  padding: 9.6rem 0;
}

.title-us {
  color: #333;
  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 4.4rem;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 3rem;
}

.text-us {
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: center;
}

.title-box {
  padding-bottom: 4.2rem;
}

.text-us-box {
  padding-top: 4.2rem;
  margin-bottom: 9.6rem;
}

.feature-icon {
  color: #434fd1;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #c0cbf2;
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/****************************/
/* CTA Section  */
/****************************/
.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #434fd1;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #8f97e0, #5061f9);

  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #000;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta .heading-secondary {
  color: #000;
  margin-bottom: 3.2rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(231, 242, 255, 0.3),
      rgba(233, 238, 251, 0.3)
    ),
    url("img/Tela\ de\ perfil.png");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  color: inherit;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
